@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.list  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 20px 0px;
}

.remove {
    background-color: rgb(214, 17, 17);
    color: white;
    padding: 5px;
    border-radius: 7px;
    margin-left: 2.5px;
}

.remove:hover{
    background-color: rgb(231, 68, 47);
    color: black;
    animation: scaleUp 0.1s ease-in-out forwards;
}

.edit {
    background-color: rgb(6, 85, 26);
    color: white;
    padding: 5px;
    border-radius: 7px;
    margin-left: 2.5px;
}

.edit:hover{
    background-color: rgb(21, 204, 67);
    color: black;
    animation: scaleUp 0.1s ease-in-out forwards;
}

body{
    font-family: "Poppins", sans-serif;
    /* background: rgb(2,0,36); */
    
}
nav{
    background: linear-gradient(90deg, rgba(0,0,48,1) 0%, rgba(20,40,60,1) 100%);
    color: white;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}